Version
preferences/BROWSER
preferences/FvwmConsoleTerminal
preferences/MediaDirectories
preferences/XScreenSaver
screenshots/capture.2015-02-24_13:26.monkeyrunner
screenshots/capture.2015-03-02_10:29.Inbox
temp_dir/
tmp/
